<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang='es'>


	<meta charset='utf-8'>
	<title>Conectando Mentes - Alpha 1.0 - {% block titulo %} {% endblock %}</title>
	{% bootstrap_stylesheet_tag %}
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/icono.png">
	<script src="{{STATIC_URL}}js/jquery-1.8.3.js"></script>
	<script src="{{STATIC_URL}}js/demo.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
	<style>
	{% block style_css %}

	{% endblock %}
	</style>
    {% bootstrap_javascript_tag "dropdown" %}
	
	{% block encabezado %}{% endblock %}

	<section class='contenido'>
		{% block contenido %}{% endblock %}
	</section>
	

	<footer>
    	<div class="container">
		  <img src="{{STATIC_URL}}img/fotter_logo.png"/>
      	  <span>Copyright &#169 2013</span>
		      <a href="mailto:info@conectandomentes.com"> 
        	<img src="{{STATIC_URL}}img/fotter_contacto.png"/> 
      	  </a>
    	</div>
  	<fotter>
