<!DOCTYPE html>
{% load bootstrap_toolkit %}
<html lang='es'>
<head>

	<meta charset='utf-8'>
	<title>Conectando Mentes - Alpha 1.0 - {% block titulo %} {% endblock %}</title>
	{% bootstrap_stylesheet_tag %}
 	<style type="text/css">
        body {
            padding-top: 60px;
        }
    </style>
	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/base.css">
	<link rel="shortcut icon" href="{{STATIC_URL}}img/icono.png">
	<style>
	{% block style_css %}{% endblock %}
	</style>
	<script src="{{STATIC_URL}}js/jquery-1.8.3.js"></script>
	<script src="{{STATIC_URL}}js/demo.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    {% bootstrap_javascript_tag "dropdown" %}
</head>
<body>
	
	{% block encabezado %}{% endblock %}

	<section class='contenido'>
		{% block contenido %}{% endblock %}
	</section>
	<div id="footer">
      	<div class="container" id="cm-divfotter">
		 <img class="cm-itemfotter" id="cm-logofotter"src="{{STATIC_URL}}img/fotter_logo.png"/>
         <span class="cm-itemfotter" id="cm-copyright">Copyright &#169 2012</span>
		 <a href="mailto:info@conectandomentes.com" class="cm-itemfotter" id="cm-img_contacto"> <img src="{{STATIC_URL}}img/fotter_contacto.png"/> </a>
      	</div>
  	</div>
</body>
</html>