{% extends 'baselogged.html' %}
{% block titulo %} Ideas registradas {% endblock %}

{% block css %}
	<style>
		img { width: 100px; }
	</style>
{% endblock %}

{% block encabezado %}
	<h1>Nuestras Ideas</h1>
{% endblock %}

{% block contenido %}
<a class="btn btn-large btn-primary" href="/idea/nueva">¿Tienes una idea?</a>

<ul>
    {% for idea in ideas %}
    <li>
        <article class="cm-ideas">
            <img src='{{MEDIA_URL}}{{idea.imagen}}'>
            <h5 >{{idea.nombre}}</h5>
            <p> {{idea.descripcion}} </p>
            <a class="btn btn-primary" href="{% url principal.views.detalle_idea idea.id %}"> Saber más</a>
        </article>
    </li>
    {% empty %}
    <li>Aún no hay ideas registradas</li>
    {% endfor %}
</ul>
{% endblock %}
