{% extends 'baselogged.html' %}

{% load bootstrap_toolkit %}

{% block contenido %}
	<form  class="form-{{ layout }}" id='formulario_ideas' method='post' enctype='multipart/form-data' action=''>
		{% csrf_token %}
		{{ form|as_bootstrap }}
		{{formulario_ideas.idea_clasificacion.errors}}
		<label for='id_idea_clasificacion'>Clasificación:</label>
		{{formulario_ideas.idea_clasificacion}}

		{{formulario_ideas.nombre.errors}}
		<label for='id_nombre'>Nombre:</label>
		{{formulario_ideas.nombre}}
		
		{{formulario_ideas.descripcion.errors}}
		<label for='id_descripcion'>Descripción:</label>
		<p>La descripción es muy clave para que todos sepan que quieres hacer. Intenta describirla brevemente, diciendo que problema quieres resolver y como lo vas a hacer.</p>
		{{formulario_ideas.descripcion}}
		
		{{formulario_ideas.imagen.errors}}
		<label for='id_imagen'>Imagen:</label>
		{{formulario_ideas.imagen}}
		
		<input type="hidden" name="usuario" id="id_usuario" value={{usuario.id}} />
		<input type="submit" value="Submit" class="btn btn-primary">

	</form>

{% endblock %}
