{% extends 'base.html' %}
{% load bootstrap_toolkit %}
{% block titulo %}Ingresa al sistema{% endblock %}
{% block encabezado %}
	<h2>Ingresa</h2>
	<h4>Antes de empezar a compartir debes haber ingresaso a nuestro sistema.</h4>
	<div id="cm-headertop" class="navbar navbar-fixed-top">
	    <div id="cm-barra_header" class="navbar-inner">
	        <div class="container">
	            <a href="/" class="brand"> <img src="{{STATIC_URL}}img/logo.png"/> </a>
	            	
	        </div>
	    </div>
	</div>
{% endblock %}
{% block contenido %}
	<form id='cm-formulario-ingreso' method='post' action=''>
		{% csrf_token %}
		{{ form|as_bootstrap }}
		<table>{{formulario}}</table>
		<p><input class="btn btn-primary" type='submit' value='Ingresar'></p>
	</form>
{% endblock %}