{%  extends 'base.html' %}
{% load bootstrap_toolkit %}

{% comment %} Aquí van comentarios {% endcomment %}

{% block titulo %} Inicio {% endblock %}

{% block style_css %}
	.impar { background-color:#90EE90;}
	.par { background-color:#5ACC5A;}
	body{
		padding-top: 100px;
	}
{% endblock %}

{% block encabezado %}
	<div id="cm-headertop" class="navbar navbar-fixed-top">
	    <div id="cm-barra_header" class="navbar-inner">
	        <div class="container">
	            <a href="/" class="brand"> <img src="{{STATIC_URL}}img/logo.png"/> </a>
	            	{% if not acceso.is_active %}
	            		<form id='cm-formulario-registro' method='post' action='' class="navbar-form pull-right">{% csrf_token %}{{ form|as_bootstrap }}
						
							{{formulario.username.errors}}
							<label for='username'>USERNAME:</label>
							{{formulario.username}}

							{{formulario.password.errors}}
							<label for='password'>PASSWORD:</label>
							{{formulario.password}}

							<p><input type='submit' value='Ingresar' class="btn"></p>
						</form>
					{% endif %}	
	        </div>
	    </div>
	</div>
{% endblock %}

{% block contenido %}	
	<p>
		Actualmente tenemos registrados:
		{% with total=ideas.count %}
			{{total}} idea{{total|pluralize}}
		{% endwith %}
	</p>


<a class="btn btn-large btn-primary" href="/idea/nueva">¡Es hora de agregar tú idea!</a>
<ul>
    {% for idea in ideas %}
  	<li>
        <article class="cm-ideas">
            <img src='{{MEDIA_ROOT}}{{idea.imagen}}'>
            <h5 >{{idea.nombre}}</h5>
            <p> {{idea.descripcion}} </p>
            <a class="btn btn-primary" href="{% url principal.views.detalle_idea idea.id %}"> Saber más</a>
        </article>
    </li>
    {% empty %}
    <li>Aún no hay ideas registradas</li>
    {% endfor %}
</ul>
{% endblock %}