{% extends 'baselogged.html' %}
{% block titulo %} {{idea.nombre}} {% endblock %}

{% block encabezado %}
	<h1>{{idea.nombre|title}}</h1>
{% endblock %}

{% block contenido %}


	<div id='clasificacion'>
		<h2>Clasificación</h2>
		<p>{{idea.idea_clasificacion}}</p>
	</div>
	<div id='referencia'>
		<img src='{{MEDIA_URL}}{{idea.imagen}}'>
	</div>	
	<div id='descripcion'>
		<p>{{idea.descripcion}}</p>
	</div>
	
	<div id='tareas'>
		<h3>Tareas</h3>
			{%  for item in tareas %}
				<p>{{item.tarea.nombre}} - Fecha creación : {{item.fecha_creacion}} - Unidades : {{item.unidades_pago}} - Precio : {{item.precio_pago}} - Tiempo : {{item.tiempo_estimado}} días - Estado: {{item.estado}}</p>
				<div id='aplicaciones'>
					<h5>Propuestas</h5>
						{%  for aplicacion in aplicaciones %}
							{% if item == aplicacion.tarea %}
								<p>{{aplicacion.usuario.username}} - Unidades: {{aplicacion.unidades_pago}} - Precio: {{aplicacion.precio}} - Tiempo estimado: {{aplicacion.tiempo_estimado}} - Comentario: {{aplicacion.comentario}} - Aplicacion realizada el: {{aplicacion.fecha_aplicacion}}</p>
								{% if item.estado != 'Asignada' %}
								<a href='{% url principal.views.aceptar_propuesta aplicacion.id %}'>Aceptar esta propuesta</a>
								{% endif %}
								<br>
							{% endif %}
						{%  empty %}
							<p>Aún no hay ningua</p>
						{%  endfor %}
				</div>
			{%  empty %}
				<p> Sin tareas registradas </p>
			{%  endfor %}
	</div>
	<h3> Agregar una nueva tarea:</h3>
	<p>Una tareas es algo muy sencillo que necesites para avanzar en tú idea, puede ir desde "ayuda para generar una descripción más clara de mi negocio" hasta "diseño de logos basado en bocetos", trata siempre de registrar actividades lo más específicas posibles.</p>
	<form id='formulario_tareaidea' method='post' action=''>{% csrf_token %}

		<input type="hidden" name="idea" id="id_idea" value={{idea.id}} />

		{{formulario_tareaidea.tarea.errors}}
		<label for='id_tarea'>Tarea:</label>
		{{formulario_tareaidea.tarea}}			

		<p>Puedes pagar sólo con unidades de tiempo, sólo con dinero o una convinación de las 2</p>	

		{{formulario_tareaidea.unidades_pago.errors}}
		<label for='id_unidades_pago'>Cúantas unidades de tiempo das como pago:</label>
		{{formulario_tareaidea.unidades_pago}}

		{{formulario_tareaidea.precio_pago.errors}}
		<label for='id_precio'>Precio:</label>
		{{formulario_tareaidea.precio_pago}}

		{{formulario_tareaidea.tiempo_estimado.errors}}
		<label for='id_tiempo_estimado'>Tiempo (Días):</label>
		{{formulario_tareaidea.tiempo_estimado}}

		{{formulario_tareaidea.estado.errors}}
		<label for='id_estado'>Estado:</label>
		{{formulario_tareaidea.estado}}				

		<p><input type='submit' value='Confirmar'></p>
	</form>
	<p> En caso de que no exista la tarea que necesitas, pudes agregar nuevas tareas aquí: </p>
	<a class="btn btn-success" href="/tarea/nueva">Agregar una Tarea</a>
	<footer>
		<p>Registrado {{idea.fecha_registro|date:'SHORT_DATETIME_FORMAT'}} por {{idea.usuario}}</p>
	</footer>
{% endblock %}