{% extends 'baselogged.html' %}
{% block titulo %} Ideas registradas {% endblock %}

{% block css %}
	<style>
		img { width: 100px; }
	</style>
{% endblock %}

{% block encabezado %}
	<h1>Nuestras Ideas</h1>
{% endblock %}

{% block contenido %}
<a class="btn btn-large btn-primary" href="/idea/nueva">¿Tienes una idea?</a>

<ul>
    {% for idea in ideas %}
    <li>
        {% if idea.usuario == usuario %}      
            <a href='{% url principal.views.detalle_idea_usuario idea.id %}'>{{idea.nombre}}</a>
            <img src='{{MEDIA_URL}}{{idea.imagen}}'>
            <a href='{% url principal.views.editar_idea idea.id %}'>Editar</a>
        {% endif %}
    </li>
    {% empty %}
        <li>Aún no hay ideas registradas</li>
    {% endfor %}
</ul>
{% endblock %}
