{% extends 'baselogged.html' %}
{% block titulo %} Ideas registradas {% endblock %}

{% block css %}
	<style>
		img { width: 100px; }
	</style>
{% endblock %}

{% block encabezado %}
	<h1>Nuestras Ideas</h1>
{% endblock %}

{% block contenido %}
<a class="btn btn-large btn-primary" href="/idea/nueva">¿Tienes una idea?</a>
<h6> Unidades de tiempo: {{valor}}</h6>

<ul>
    {% for idea in ideas %}
    <li>
        {% if idea.usuario == usuario %}      
            <article class="cm-ideas">
                <img src='{{MEDIA_URL}}{{idea.imagen}}'>
                <h5 >{{idea.nombre}}</h5>
                <p> {{idea.descripcion}} </p>
                <a class="btn btn-success" href="{% url principal.views.detalle_idea_usuario idea.id %}"> Agregar tareas</a>
                <a class="btn btn-success" href='{% url principal.views.editar_idea idea.id %}'>Editar</a>
            </article>

        {% endif %}
    </li>
    {% empty %}
        <li>Aún no hay ideas registradas</li>
    {% endfor %}
</ul>
{% endblock %}
