{% extends 'baselogged.html' %}
{% block titulo %} {% endblock %}

{% block encabezado %}
	<h1>oK</h1>
{% endblock %}

{% block contenido %}


<ul>
    {% for propuesta in propuestas %}
    <li>
        {% if propuesta.usuario == usuario %}      
        	<p> Tarea: {{propuesta.tarea.tarea.nombre}} - Estado: {{propuesta.estado}} - Tiempo estimado: {{propuesta.tiempo_estimado}}</p>
        {% endif %}
    </li>
    {% empty %}
        <li>Aún no hay ideas registradas</li>
    {% endfor %}
</ul>
{% endblock %}