{% extends 'baselogged.html' %}
{% block contenido %}
	<form id='formulario_tareas' method='post' enctype='multipart/form-data' action=''>{% csrf_token %}
		{{formulario_tareas.categoria.errors}}
		<label for='id_idea_categoria'>Categoria:</label>
		{{formulario_tareas.categoria}}

		{{formulario_tareas.nombre.errors}}
		<label for='id_nombre'>Nombre:</label>
		{{formulario_tareas.nombre}}
		
		{{formulario_tareas.descripcion.errors}}
		<label for='id_descripción'>Descripción:</label>
		{{formulario_tareas.descripcion}}

		<p><input type='submit' value='Confirmar'></p>
	</form>

{% endblock %}
