body{
	background-image: url(../img/bg.jpg);
}
ul{
	list-style: none;
}
html,body {
	height: 100%;
}
header {
	background-color:#008500;
	color:#ffffff;
}
.nav>li>a{
	text-decoration:none;
	color:#E2E2E2 !important;
	font-size: medium;
	font-weight: bold; 
	margin:30px;
	text-shadow: 1px 1px 1px #000 !important;
}
.activo { 
  font-weight: bold; 
}
.contenido>a,
.contenido>ul{
	display: block;
	margin: 0 10%;
}
.contenido>ul li{
	display: inline-block;
}
.contenido article{
	margin: 4px;
	border: solid 3px;
	width: 200px;
}
.cm-ideas>img{
	z-index: 10;
}
.navbar-inner{
	background: #353535 !important;
	color: #5B5B5B !important;
	width: 100% !important;
	height: 90px !important;
} 

#cm-formulario-registro {
	position: fixed;
	top: 20px;
	right: 20px;
}

#cm-formulario-registro>label, 
#cm-formulario-registro>input, 
#cm-formulario-registro>p{
	display: inline-block;

}

#cm-formulario-ideas, #cm-formulario-contacto{
	margin-top: 10px;
	margin-left: 25px;
	max-width: 31%;
}

#cm-formulario-ideas>label, #cm-formulario-ideas>input, #cm-formulario-ideas>p{
	display: block;
}

footer {
    background-color: #353535 !important;
    height: 60px;
    width: 100%;
	bottom:0px;
	position:fixed;
}
      /* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
		display:block;
	}
}
