body{
	background-image: url(../img/bg.jpg);
}
ul{
	list-style: none;
}
html,body {
	height: 100%;
}
header {
	background-color:#008500;
	color:#ffffff;
}
.nav>li>a{
	text-decoration:none;
	color:#E2E2E2 !important;
	font-size: medium;
	font-weight: bold; 
	margin:30px;
	text-shadow: 1px 1px 1px #000 !important;
}
.activo { 
  font-weight: bold; 
}
.contenido{
	text-align: center;
}
.contenido>p{
	font-size: 24px;
}
.contenido>a{
	margin: 10px auto;
	width: 250px;
}
.contenido>a,
.contenido>ul{
	display: block;
}
.contenido>ul li{
	display: inline-block;
}
.contenido article{
	margin: 4px;
	border: solid 3px;
	width: 250px;
	height: 300px;
}
.cm-ideas{
	padding: 3px;
	text-align: center;;
}

#cm-lista-usuarios{
	height: 500px;
}
#cm-principalcontent>img{
	display: block;	
	margin-left:auto;
	margin-right:auto;
}
	
.cm-ideas>img{
	z-index: 10;
}
.navbar-inner{
	background: #353535 !important;
	color: #5B5B5B !important;
	width: 100% !important;
	height: 90px !important;
} 

#cm-formulario-registro {
	position: fixed;
	top: 20px;
	right: 20px;
}
#cm-formulario-ingreso{
	margin-left:auto;
	margin-right:auto;
	margin-top: 15%;
	margin-bottom: 15%;
	width: 200px;
}

#cm-formulario-registro>label, 
#cm-formulario-registro>input, 
#cm-formulario-registro>p{
	display: inline-block;
}

#cm-formulario-ideas, 
#cm-formulario-contacto{
	margin-top: 10px;
	margin-left: auto;

}

footer {

    background-color: #353535 !important;
    height: 60px;
    bottom: 0px;
	width: 100%;
}

footer>div{
	margin:0 auto;
}

footer>div>span{
	margin-right: 15%;
	margin-left: 15%;
	height: 30px;
	width: 150px !important;
	color: #5A5A5A;
}

footer>div>a, 
footer>div>span{
	position: relative;
	display: inline-block;
	margin-top:2%;
}
#cm-footer-logged{
	position: fixed;
}
